html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif !important;
}


h1 {
    font-size: calc(1.5vw + 45px) !important;
}

h2 {
    font-size: calc(0.9vw + 32px) !important;
}

h3 {
    font-size: calc(0.8vw + 30px) !important;
}

h4 {
    font-size: calc(0.67vw + 24px) !important;
}

h5 {
    font-size: calc(0.5vw + 20px) !important;
}

a,p {
    font-size: calc(0.45vw + 18px) !important;
}

@media(max-device-width: 500px) {
    h1 {
        font-size: 72px !important;
    }

    h2 {
        font-size: 54px !important;
    }

    h3 {
        font-size: 50px !important;
    }

    h4 {
        font-size: 40px !important;
    }

    h5 {
        font-size: 32px !important;
    }

    p,a {
        font-size: 28px !important;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

body {
    height: 100%;
    margin: 0;
}
.top {
    padding-top: calc(5vh + 80px);
    color: white !important;
    height: 40%;
    min-height: 400px;
    width: 100%;
    background-image: url("../images/subtle-grey.png"), linear-gradient(to top, #551AFF, #7c4dff);
    border-bottom-left-radius: 50% 6vw;
    border-bottom-right-radius: 50% 6vw;
    z-index: 2;
    position: relative;
    box-shadow: 0px 7px 20px rgba(0,0,0,0.3);
}

.headline {
    margin-bottom: 7vh;
}

.top + .middle {
    height: calc(30vw + 300px);
    margin-top: -25vw;
    z-index: 1;
    position: relative;
}

.middle {
    clip-path: polygon(0 0, 100% -0, 100% 100%, 50% calc(25vw + 300px), 0 100%);
    background: white;
}

.middle .container {
    height: 100%;
}

.middle .row {
    height: 100%;
}

.middle .row > div {
    padding-top: calc(25vw + 30px);
    color: #00a18e;
}

.middle .row > div > h2 {
    color: #00a18e;
}

.middle .link-container {
    margin-top: -0.25vw;
}

.middle .link-title {
    font-size: calc(0.67vw + 24px) !important;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #666666;
}

.middle .link {
    font-size: calc(0.8vw + 18px) !important;
    color: #00a18e;
}

.bottom {
    padding-top: 39vh;
    background: url("../images/gplay.png"),linear-gradient(to top, #00a18e, #7c4dff);
    color: white !important;
    margin-top: -40vh;
    height: auto;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 500;
    }
}

.path {
    -webkit-animation: dash 25s linear infinite;
    stroke-dasharray: 20;
}

svg {
    width: calc(15vw - 50px);
    position: absolute;
}

@media (min-width: 1600px) {
    .container {
        width: 1440px;
        max-width: 100%;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1600px;
        max-width: 100%;
    }
}

@media (min-width: 2160px) {
    .container {
        width: 1920px;
        max-width: 100%;
    }
}

@media (min-width: 2560px) {
    .container {
        width: 2160px;
        max-width: 100%;
    }
}

@media (min-width: 3840px) {
    .container {
        width: 2560px;
        max-width: 100%;
    }
}
