html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif !important;
}

h1 {
    font-size: 7vh !important;
}

h2 {
    font-size: 5.25vh !important;
}

h3 {
    font-size: 4.5vh !important;
}

h4 {
    font-size: 3vh !important;
}

h5 {
    font-size: 2.75vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

body {
    height: 100%;
    margin: 0;
}
.top {
    padding-top: 10vh;
    color: white !important;
    height: 40%;
    width: 100%;
    background-image: url("../images/subtle-grey.png"), linear-gradient(to top, #551AFF, #7c4dff);
    border-bottom-left-radius: 50% 6vw;
    border-bottom-right-radius: 50% 6vw;
    z-index: 2;
    position: relative;
    box-shadow: 0px 7px 20px rgba(0,0,0,0.3);
}

.headline {
    margin-bottom: 7vh;
}
.top + .middle {
    height: 100vh;
    margin-top: -40vh;
    z-index: 1;
    position: relative;
}

.middle {
    clip-path: polygon( 0 0, 100% -0, 100% 100%, 50% calc(80vh), 0 100%);
    background: white;
}

.middle .container {
    height: 100%;
}

.middle .row {
    height: 100%;
}

.middle .row > div {
    padding-top: 47vh;
    color: #00a18e;
}

.middle .row > div > h2 {
    color: #00a18e;
}

.bottom {
    padding-top: 39vh;
    background: url("../images/gplay.png"),linear-gradient(to top, #00a18e, #7c4dff);
    color: white !important;
    margin-top: -40vh;
    height: auto;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 500;
    }
}

.path {
    -webkit-animation: dash 25s linear infinite;
    stroke-dasharray: 20;
}

svg {
    width: calc(15vw - 50px);
    position: absolute;
}

