svg > g  {
    opacity: 0;
}

svg {
    width: 100%;
    height: auto;

}

.mobile-svg svg {
    width: auto;
    height: 65vh;
    margin: auto;
    display: block;
}

#InvestorProducerLineGroup > line {
    stroke-dasharray: 20;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 150;
    }
}