svg > g  {
    opacity: 0;
}

svg {
    width: 100%;
    height: auto;
}

#InvestorProducerLineGroup > line {
    stroke-dasharray: 20;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 150;
    }
}